.navbar{
    text-align: center !important;
    padding: 20px;
    background-color: rgb(41, 38, 38) !important;
    color: blanchedalmond !important;
}
.nav-link {
    color: floralwhite!important;
}
.navbar-item{
    color: floralwhite;
}
.navbar-item:hover{
    background-color: rgb(62, 193, 226) !important;
}
footer{
    background-color: rgb(41, 38, 38) !important;
    color: grey;
    position: absolute;
    width: 100%;
    height: 1px !important;
}
#footer1{
    position: absolute;
    width: 100%;
}
#contact{
    background-color: #f0efeb !important;
}

.credit{
    color: grey;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}
.notification {
    background-color:  #f0efeb !important;
    padding-bottom: 2.5rem;
}
.call-action{
    width: 200px;
    height: 0;
    border-left: 400px ;
    position: absolute;
    left: 850px;
    top: 630px;
}
.callto{
    border-radius: 4px;
  background-color: #f4511e;
  border-radius: 15px;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 180px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.callto span{
    cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.callto span:after{
    content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.callto:hover span{
    padding-right: 25px;
}
.callto:hover span:after{
    opacity: 1;
  right: 0;
}
#portfolio {
    margin: 10px;
    padding-bottom: 10px;
    color: black;
    width: 360px;
    border-radius: 20px;

    font-family: 'Courier New', Courier, monospace;
}
.card-title{
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
}
.navbar-toggler{
    padding: 0px;
    margin: 0px;
    visibility: hidden;
}
#tech{
    color: black;
}
.des{
    color: black;
}
#des{
    color: black;
}

.site-link:hover{
    transition: all .3s ease-in-out;
    transform: scale(1.1);
    background-color: lightseagreen;
}
.resume{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bolder;
}
main{
    border-radius:100px;
    width: 100%;
    height: 100%;
    padding-bottom: 2.5rem;
}
.cards:hover {
    transition: all .5s ease-in-out;
    transform: scale(1.1);
}
.card-image{
    box-shadow: 0 4px 8px 0 rgba(15, 3, 3, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
}
.bgimage{
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  position: relative;
  max-width: 100%;
}
.space{
    padding-top: 0px;
    margin: 0px;
}
.skills {
    text-align: center !important;
    font-family: 'Courier New', Courier, monospace;
    padding-bottom: 10px;
    margin: 10px;
    color: black;
}
.box{
    padding: 5px;
    margin: 7px;
}
.hero{
    width: 100%;
}
#mytext{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
#type{
    display: inline-block;
    overflow: hidden;
    letter-spacing: 2px;
    animation:typing 5s steps(30, end), blink .75s step-end infinite;
    white-space: nowrap;
    font-size: 30px;
    font-weight: 700;
    border-right: 4px solid orange;
    box-sizing: border-box;
}
@keyframes typing {
    from { 
        width: 0% 
    }
    to { 
        width: 30% 
    }
}

@keyframes blink {
    from, to { 
        border-color: transparent 
    }
    50% { 
        border-color: orange; 
    }
}
@media only screen and (max-width: 700px) {

    .typo{
        font-size: 22px;
    }
    #type{
        font-size: 20px;
        
    }
    footer{
        position: relative;
    }
    @keyframes typing {
        from { 
            width: 0% 
        }
        to { 
            width: 50% 
        }
    }
    
    @keyframes blink {
        from, to { 
            border-color: transparent 
        }
        50% { 
            border-color: orange; 
        }
    }
    .navbar-toggler{
        visibility: visible;
    }
    
  }