.navbar{
    text-align: center !important;
    padding: 20px;
    background-color: rgb(41, 38, 38);
}
.container {
    position: relative;
    min-height: 100%;
}
.navbar-item{
    color: floralwhite;
}
.navbar-item:hover{
    background-color: rgb(62, 193, 226) !important;
}
footer{
    background-color: rgb(41, 38, 38) !important;
    color: grey;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}
.credit{
    color: grey;
}
.notification {
    background-color:  rgb(62, 193, 226) !important;
}