.navbar{
    text-align: center !important;
    padding: 20px;
    background-color: rgb(41, 38, 38);
}
.navbar-item{
    color: floralwhite;
}
.navbar-item:hover{
    background-color: rgb(62, 193, 226) !important;
}
footer{
    background-color: rgb(41, 38, 38) !important;
    color: grey;
    position: absolute;
    width: 100%;
    height: 1px !important;
}
#footer1{
    position: absolute;
    width: 100%;
}
#contact{
    background-color: #f0efeb !important;
}

.credit{
    color: grey;
}
.notification {
    background-color:  #33415c !important;
    padding-bottom: 2.5rem;
}
#portfolio {
    margin: 10px;
    padding: 10px;
}
.des{
    color: black;
}
#des{
    color: black;
}
.site-link {
     padding: 5px;
     margin: 5px;
     background-color: #33415c ;
     border-radius: 4px;
     color: lightcyan;
     text-decoration: none !important;
     display: inline-block;
}
.site-link:hover{
    transition: all .3s ease-in-out;
    transform: scale(1.1);
    background-color: lightseagreen;
}
main{
    border-radius:100px;
    width: 100%;
    height: 100%;
    padding-bottom: 2.5rem;
}
.card:hover {
    transition: all .5s ease-in-out;
    transform: scale(1.1);
}
.card-image{
    box-shadow: 0 4px 8px 0 rgba(15, 3, 3, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
}
.hero{
    background-image: url("../images/hero-image.jpg");
    width: 2000px;
    height: 700px;
}